@media (max-width: 1366px) {
  .collection {
    grid-template-columns: repeat(3, 1fr);
    &_images {
      width: 100%;
    }
  }
}

@media (max-width: 1200px) {
  .top {
    &_slider-title {
      font-size: 62px;
      line-height: 64px;
    }
    &_slider-img {
      height: 640px;
    }
  }
}
@media (max-width: 992px) {
  .footer {
    &_info {
      width: 380px;
    }
  }

  .gallery {
    &_items {
      grid-gap: 10px;
    }

    &_btn {
      margin: 0;
      padding: 6px 10px;
    }
  }
}

@media (max-width: 840px) {
  .top {
    &_slider-title {
      font-size: 44px;
      line-height: 54px;
    }
    &_inner {
      &::after {
        height: 100%;
      }
    }
    &_slider-img {
      height: 540px;
    }
  }
  .collection {
    grid-template-columns: repeat(2, 1fr);
  }

  .works-path {
    &_item {
      width: 350px;
    }

    &_item--production {
      margin-left: 50px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &_btn {
      display: none;
    }
  }

  .menu {
    &_list-item {
      padding-left: 0;
      & + .menu_list-item {
        //2nd element
        padding-right: 0;
      }
    }
  }

  .gallery {
    &_buttons {
      display: grid;
    }

    &_btn {
      margin-bottom: 10px;
    }
  }

  .works-path {
    &_item--measurements {
      margin-left: 100px;
    }
  }

  .decor {
    padding: 70px 0 55px;
  }

  .logo {
    margin: 0;
    position: relative;
    z-index: 13;
  }
  .footer {
    &_inner {
      flex-wrap: wrap;
    }
    &_info {
      width: 100%;
      margin-bottom: 50px;
    }
    &_info-text {
      max-width: 100%;
    }
    &_menu {
      margin-left: auto;
      margin-right: auto;
    }
    &_social {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (max-width: 650px) {
  .top {
    &_inner {
      padding-top: 30px;
      padding-bottom: 25px;
    }
    &_slider-item {
      .top_slider-img {
        display: none;
      }
    }
    &_slider-text {
      margin-bottom: 15px;
    }
  }
  .collection {
    grid-template-columns: repeat(1, 1fr);
  }

  .new-collection {
    &_title {
    }

    %title-font {
      font-size: 28px;
      line-height: 36px;
    }
  }

  .works-path {
    &__items-title {
      font-size: 16px;
      line-height: 27px;
    }
  }

  .works-path {
    &_items-box::before,
    &_item--production::after,
    &_item--measurements::before {
      display: none;
    }
    &_items-box {
      border: none;
      flex-wrap: wrap;
    }
    &_item--measurements {
      margin-left: 0;
      padding-top: 0;
      padding-bottom: 38px;
    }
    &_item--production {
      margin-left: 0;
      order: 1;
    }

    &_item {
      width: 100%;
    }
  }

  .blog-box {
    &_items {
      display: block;
    }
    &_img-link {
      display: block;
    }
    &_img {
      width: 100%;
    }
    &_item {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 540px) {
  .logo {
    order: -1;
  }

  .header {
    &_inner {
      flex-wrap: wrap;
      padding-top: 42px;
      justify-content: center;
    }
    &_btn-menu {
      display: block;
      background-color: transparent;
      border: none;
      cursor: pointer;
      order: -1;
      position: relative;
      z-index: 13;
      span {
        background-color: #000;
        width: 37px;
        height: 3px;
        border-radius: 4px;
        display: block;
        margin: 6px 0;
      }
    }
  }

  .blog-box {
    &_item-title {
      font-size: 22px;
      line-height: 36px;
    }
  }

  .collection {
    grid-template-columns: repeat(1, 1fr);
  }

  %title-font {
    font-size: 28px;
    line-height: 26px;
  }

  .works-path {
    &_item-title {
      font-size: 16px;
      line-height: 27px;
    }
  }

  .gallery {
    &_items {
      grid-template-columns: repeat(1, 1fr);
    }

    &_item:first-child {
      grid-column: 1;
      grid-row: 1;
    }
  }

  .menu {
    padding-right: 0;
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 11000;
    text-align: center;
    transform: translateY(-350px);
    transition: all 0.5s;
    &--open {
      transform: translateY(30px);
    }
    &_list {
      display: block;
    }
    &_list-item {
      padding-right: 0;
    }
    &_list-link {
      display: block;
      padding: 15px 0;
    }
  }
}

@media (max-width: 375px) {
  .footer {
    &_inner {
      justify-content: space-between;
    }
    &_social {
      margin-left: 0;
    }
    &_form {
      display: block;
    }
    &_form-button {
      width: 100%;
      margin-left: 0;
      margin-top: 10px;
    }
  }
}
