@media (max-width: 1700px) {
  .contact-slider {
    &_img {
      width: 100%;
    }
  }
}
@media (max-width: 1366px) {
  .collection {
    grid-template-columns: repeat(3, 1fr);
    &_images {
      width: 100%;
    }
  }

  .map {
    margin-top: 0;
  }
}

@media (max-width: 1200px) {
  .top {
    &_slider-title {
      font-size: 62px;
      line-height: 64px;
    }
    &_slider-img {
      height: 640px;
    }
  }

  .contact-slider {
    &_img {
      height: 240px;
    }
  }
}

@media (max-width: 1040px) {
  .blog {
    &_inner {
      flex-wrap: wrap;
    }
    &_items {
      max-width: 100%;
    }
    &_item-img {
      width: 100%;
    }
  }

  .blog .aside {
    width: 100%;
    margin-left: 0;
    order: -1;
    margin-bottom: 50px;
  }
}

@media (max-width: 992px) {
  .footer {
    &_info {
      width: 380px;
    }
  }

  .gallery {
    &_items {
      grid-gap: 10px;
    }

    &_btn {
      margin: 0;
      padding: 6px 10px;
    }
  }

  .about {
    &_text {
      padding-left: 0;
    }
    &_content {
      padding: 40px 0;
    }
  }
}

@media (max-width: 840px) {
  .top {
    &_slider-title {
      font-size: 44px;
      line-height: 54px;
    }
    &_inner {
      &::after {
        height: 100%;
      }
    }
    &_slider-img {
      height: 540px;
    }
  }
  .collection {
    grid-template-columns: repeat(2, 1fr);
  }

  .works-path {
    &_item {
      width: 350px;
    }

    &_item--production {
      margin-left: 50px;
    }
  }

  .contact {
    .contact_social,
    &_box,
    &_form {
      padding-left: 0;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &_btn {
      display: none;
    }
  }

  .menu {
    &_list-item {
      padding-left: 0;
      & + .menu_list-item {
        //2nd element
        padding-right: 0;
      }
    }
  }

  .map {
    iframe {
      height: 300px;
    }
  }

  .gallery {
    &_buttons {
      display: grid;
    }

    &_btn {
      margin-bottom: 10px;
    }
  }

  .works-path {
    &_item--measurements {
      margin-left: 100px;
    }
  }

  .decor {
    padding: 70px 0 55px;
  }

  .logo {
    margin: 0;
    position: relative;
    z-index: 13;
  }
  .footer {
    &_inner {
      flex-wrap: wrap;
    }
    &_info {
      width: 100%;
      margin-bottom: 50px;
    }
    &_info-text {
      max-width: 100%;
    }
    &_menu {
      margin-left: auto;
      margin-right: auto;
    }
    &_social {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .about {
    &_prev {
      padding: 80px 0;
    }

    &_prev-title {
      font-size: 40px;
      line-height: 48px;
    }
  }

  .inspiration {
    &_images {
      display: none;
    }
  }

  .partners {
    &_items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 650px) {
  .top {
    &_inner {
      padding-top: 30px;
      padding-bottom: 25px;
    }
    &_slider-item {
      .top_slider-img {
        display: none;
      }
    }
    &_slider-text {
      margin-bottom: 15px;
    }
  }
  .collection {
    grid-template-columns: repeat(1, 1fr);
  }

  .new-collection {
    &_title {
    }

    %title-font {
      font-size: 28px;
      line-height: 36px;
    }
  }

  .contact {
    &_form-input {
      width: 100%;
    }
  }

  .works-path {
    &__items-title {
      font-size: 16px;
      line-height: 27px;
    }
  }

  .works-path {
    &_items-box::before,
    &_item--production::after,
    &_item--measurements::before {
      display: none;
    }
    &_items-box {
      border: none;
      flex-wrap: wrap;
    }
    &_item--measurements {
      margin-left: 0;
      padding-top: 0;
      padding-bottom: 38px;
    }
    &_item--production {
      margin-left: 0;
      order: 1;
    }

    &_item {
      width: 100%;
    }
  }

  .blog-box {
    &_items {
      display: block;
    }
    &_img-link {
      display: block;
    }
    &_img {
      width: 100%;
    }
    &_item {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 540px) {
  .logo {
    order: -1;
  }

  .menu_list-link--active::after {
    display: none;
  }

  .blog_category-title,
  .recent-posts_title,
  .blog_tags-title,
  .blog_blockquote-author {
    font-size: 16px;
    line-height: 23px;
  }

  .blog {
    &_item-title {
      font-size: 24px;
      line-height: 38px;
    }
  }

  .blog-one {
    &_link {
      font-size: 0;
    }
    &_links {
      padding: 30px 0;
    }
    &_form-input {
      width: 100%;
    }
    &_comments-name,
    &_form-title {
      font-size: 16px;
      line-height: 27px;
    }
    &_comments-item {
      flex-wrap: wrap;
    }
    &_comments-avatar {
      width: 45px;
      height: 45px;
    }
    &_comments-name,
    &_comments-date {
      margin-left: 55px;
      margin-top: -46px;
    }
    &_Reply {
      margin-left: 0;
    }
  }

  .header {
    &_inner {
      flex-wrap: wrap;
      padding-top: 42px;
      justify-content: center;
    }
    &_btn-menu {
      display: block;
      background-color: transparent;
      border: none;
      cursor: pointer;
      order: -1;
      position: relative;
      z-index: 13;
      span {
        background-color: #000;
        width: 37px;
        height: 3px;
        border-radius: 4px;
        display: block;
        margin: 6px 0;
      }
    }
  }

  .blog-box {
    &_item-title {
      font-size: 22px;
      line-height: 36px;
    }
  }

  .collection {
    grid-template-columns: repeat(1, 1fr);
  }

  %title-font {
    font-size: 28px;
    line-height: 26px;
  }

  .works-path {
    &_item-title {
      font-size: 16px;
      line-height: 27px;
    }
  }

  .gallery {
    &_items {
      grid-template-columns: repeat(1, 1fr);
    }

    &_item:first-child {
      grid-column: 1;
      grid-row: 1;
    }
  }

  .menu {
    padding-right: 0;
    width: 100%;
    background-color: #fff;
    position: relative;
    z-index: 11000;
    text-align: center;
    transform: translateY(-350px);
    transition: all 0.5s;
    &--open {
      transform: translateY(30px);
    }
    &_list {
      display: block;
    }
    &_list-item {
      padding-right: 0;
    }
    &_list-link {
      display: block;
      padding: 15px 0;
    }
  }

  .inspiration {
    &_item-text,
    &_num {
      font-size: 16px;
      line-height: 23px;
    }

    &_item-text {
      margin-right: 10px;
    }
  }
}

@media (max-width: 375px) {
  .footer {
    &_inner {
      justify-content: space-between;
    }
    &_social {
      margin-left: 0;
    }
    &_form {
      display: block;
    }
    &_form-button {
      width: 100%;
      margin-left: 0;
      margin-top: 10px;
    }
  }
  .partners {
    &_items {
      display: none;
    }
  }
  .blog-one_item blockquote {
    padding: 0 20px;
  }
}
