@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
  }
  &_btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}

.logo {
  margin: 0 auto;
}

.menu {
  padding-right: 15px;
  &_list {
    display: flex;
  }
  &_list-item {
    padding-left: 35px;
    padding-right: 45px;
  }
  &_list-link {
    @extend %title-font;
    color: rgba(54, 56, 56, 0.9);
    line-height: 22px;
  }
}

.footer {
  &_content {
    background-color: #dfdfdf;
    padding: 60px 0px 80px;
  }
  &_inner {
    display: flex;
    justify-content: space-between;
  }
  &_info {
    width: 540px;
  }

  &_info-title {
    color: $title;
    @extend %title-font;
    line-height: 23px;
    margin-bottom: 16px;
  }

  &_info-text {
    margin-bottom: 16px;
    max-width: 475px;
  }
  &_info-email {
    font-weight: 600;
    font-size: 14px;
    color: $title;
    margin-bottom: 22px;
    padding-left: 30px;
    display: inline-block;
    position: relative;
    &::before {
      content: "";
      background-image: url(../images/envelope.svg);
      left: 0;
      width: 16px;
      height: 12px;
      top: 8px;
      position: absolute;
    }
  }
  &_form {
    display: flex;
  }

  &_form-input {
    padding: 6px 10px 6px 18px;
    border-radius: 21px;
    background-color: transparent;
    border: 1px solid rgba($title, 0.7);
    width: 100%;
    &::placeholder {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: a1a1a1;
    }
  }

  &_form-button {
    background-color: $title;
    border: none;
    color: #fffff0;
    border-radius: 21px;
    font-weight: 600;
    padding: 6px 12px;
    min-width: 160px;
    margin-left: 9px;
    cursor: pointer;
  }
  &_social {
    width: 125px;
    margin-right: auto;
    margin-left: 100px;
  }
  &_social-item,
  &_menu-item {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 14px;
    color: #707070;
  }

  &_social-link {
    padding-left: 28px;
    position: relative;
    &::before {
      content: " ";
      position: absolute;
      top: 3px;
      left: 0;
      width: 16px;
      height: 16px;
    }
  }

  &_social-link--facebook::before {
    background-image: url(../images/facebook.svg);
  }
  &_social-link--instagram::before {
    background-image: url(../images/instagram.svg);
    width: 14px;
    height: 14px;
    top: 4px;
  }
  &_social-link--pinterest::before {
    background-image: url(../images/Pinterest.svg);
  }
  &_social-link--whatsapp::before {
    background-image: url(../images/whatsapp.svg);
    width: 14px;
    height: 14px;
  }
  &_social-link--youtube::before {
    background-image: url(../images/youtube.svg);
    width: 18px;
    height: 12px;
    top: 4px;
  }

  &_social-link,
  &-menu-link {
    color: #707070;
  }

  &_menu {
    margin-right: 60px;
    width: 125px;
  }
  &_copyright {
    background-color: $title;
    color: #a1a1a1;
    text-align: center;
    padding: 42px 0 41px;
  }
}

.rightside-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 694px;
  background-color: white;
  padding-top: 40px;
  width: 100%;
  box-shadow: -2px 3px 17px 0px #000;
  transition: all 0.5s;
  z-index: 5;
  &.rightside-menu--close {
    transform: translateX(500%);
  }

  &_close {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-right: 50px;
    margin-bottom: 60px;
    margin-left: 30px;
  }
  &_content {
    text-align: center;
    max-width: 485px;
    margin: 0 auto;
  }
  &_logo {
    margin-bottom: 40px;
    display: inline-block;
  }

  &_title {
    color: $title;
    @extend %title-font;
    font-size: 31px;
    line-height: 51px;
    position: relative;
    margin-bottom: 17px;
    padding-bottom: 17px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      max-width: 252px;
      margin: 0 auto;
      left: 0;
      right: 0;
      height: 2px;
      background: #979797;
    }
  }

  &_text {
    margin-bottom: 75px;
  }

  &_images {
    max-width: 485px;
  }
}

.top {
  &_inner {
    padding-bottom: 70px;
    position: relative;
    &::after {
      content: "";
      background-image: url(../images/slider-bg.jpg);
      width: 100%;
      height: 722px;
      top: 0;
      z-index: -1;
      position: absolute;
    }
  }
  &_slider-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  &_slider-img {
    margin-left: -14%;
    max-width: 703px;
    height: 815px;
    object-fit: cover;
  }
  &_slider-info {
    max-width: 645px;
    margin-left: 25px;
  }
  &_slider-title {
    @extend %title-font;
    color: $title;
    font-size: 110px;
    line-height: 135px;
    padding-bottom: 26px;
    margin-bottom: 26px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 186px;
      background: #6d7278;
      bottom: 0;
      height: 1px;
    }
  }
  &_slider-text {
    max-width: 645px;
  }
}

.new-collection {
  text-align: center;
  padding: 45px 0 105px;
  &_title {
    @extend %title-font;
    color: $title;
    font-size: 35px;
    line-height: 51px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 250px;
      height: 1px;
      bottom: 0;
      margin: 0 auto;
      left: 0;
      right: 0;
      background: #979797;
    }
  }
  &_text {
    max-width: 730px;
    margin: 0 auto 30px;
  }
}

.collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  &_item {
    position: relative;
    &:hover {
      .collection_info {
        opacity: 1;
      }
    }
  }
  &_images {
    min-height: 350px;
    object-fit: cover;
  }
  &_info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#fff, 0.7);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
  }
  &_info-title {
    @extend %title-font;
    font-size: 20px;
    line-height: 25px;
    color: $title;
    padding-bottom: 19px;
    margin-bottom: 19px;
    position: relative;
    &::after {
      content: "";
      bottom: 0;
      position: absolute;
      height: 1px;
      background: #979797;
      width: 80%;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }
  &_info-text {
    font-weight: 600px;
    font-size: 14px;
    color: #707070;
  }
}

.decor {
  padding: 170px 0 165px;
  background-image: url(../images/decor-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  &_title {
    @extend %title-font;
    color: $title;
    font-size: 60px;
    line-height: 80px;
    max-width: 737px;
    padding-bottom: 22px;
    margin-bottom: 22px;
    position: relative;
    &::after {
      content: "";
      bottom: 0;
      position: absolute;
      height: 1px;
      background: #6d7278;
      width: 200px;
      left: 0;
      right: 0;
    }
  }
  &_text {
    max-width: 640px;
  }
}

.works-path {
  padding: 80px 0 30px;
  &_title {
    @extend %title-font;
    text-align: center;
    color: $title;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 51px;
  }
  &_items-box {
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid rgba(#263838, 0.7);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $title;
    }
  }
  &_item {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    aligh-items: center;
    position: relative;
    height: 100%;
  }
  &_item--production,
  &_item--consultation {
    padding-bottom: 38px;
  }
  &_item--production {
    margin-left: 317px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba($title, 0.7);
      width: 2px;
      height: 20px;
    }
  }
  &_item--measurements {
    padding-top: 38px;
    margin-left: 305px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: rgba($title, 0.7);
      width: 2px;
      height: 20px;
    }
  }
  &_item-title {
    margin-left: 13px;
    color: $title;
    @extend %title-font;
  }
  &_item-text {
    margin-top: 13px;
  }
}

.gallery {
  padding: 0.8em 0 90px;
  &_buttons {
    text-align: center;
    margin-bottom: 40px;
  }
  &_btn {
    margin: 0 13px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #454647;
    padding: 6px 16px;
    color: #8f8d8d;
    font-size: 14px;
    cursor: pointer;
  }
  .mixitup-control-active {
    background-color: #ffef35;
    color: $title;
    border: 1px solid #454647;
  }

  &_items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px 35px;
  }
  &_item:first-child {
    grid-column: span 2;
    grid-row: span 2;
  }
  &_item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 1150px;
  }
}

.blog-box {
  padding-bottom: 100px;
  &_title {
    color: $title;
    @extend %title-font;
    font-size: 36px;
    line-height: 51px;
    text-align: center;
    margin: 0 auto 30px;
    max-width: 430px;
  }

  &_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  &_img-link {
    margin-bottom: 19px;
    display: inline-block;
  }
  &_links {
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: 600;
    color: #707070;
  }
  &_date,
  &_author,
  &_theme {
    color: inherit;
  }
  &_item-title {
    color: $title;
    font-size: 24px;
    line-height: 38px;
    @extend %title-font;
  }
}
